langchain
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-openai
langchain-groq
langchain-text-splitters
langchain_huggingface
langchain_chroma

streamlit
python-dotenv

pypdf
pymupdf
bs4
arxiv
wikipedia
youtube_transcript_api
unstructured
pytube

chromadb
faiss-cpu
sentence_transformers

duckduckgo-search>=6.0.0
ddgs>=1.0.0   # ✅ REQUIRED FIX

pandas
duckdb
numexpr

mysql-connector-python
SQLAlchemy

validators==0.28.1
curl-cffi>=0.7.0
huggingface_hub
